@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde-claro: #026635;
    --verde-escuro: #09493d;
    --branco--fraco: #E7E7E7;
    --azul-claro: #00bfff;
    --rosa: #ff1493;
    --marrom: #998875;

    --font-title: "Verdana", sans-serif;
    --font-body: "Monaco", sans-serif;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--verde-escuro); /* Cor do polegar */
    border-radius: 6px; /* Borda arredondada do polegar */
}


* {
    list-style: none;
}

a {
    font-family: var(--font-body);
    color: var(--branco--fraco) ;
    font-size: 22px;
    font-weight: 400;
    /* -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black; */
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

#div-logo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo {
    height: 200px;

}

.wrapper-botoes {
    width: 100%;
    /* background-color: var(--verde-claro); */

}


#secao-botoes {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

header {
    height: 100vh;
}


ul {
    font-family: var(--font-body);
    color: var(--branco--fraco);
    font-size: 20px;
    font-weight: 700;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; */
    margin-left: -20px;
}

body {
    background-color: var(--marrom);
}

h1 {
    font-family: var(--font-title);
    color: var(--verde-claro);
    font-size: 52px;
    font-weight: 900;
    /* -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black; */
    margin-bottom: 40px;
    margin-left: 20px;
}

h2 {
    font-family: var(--font-body);
    color: var(--verde-claro);
    font-size: 32px;
    font-weight: 700;
    /* -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black; */
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

h3 {
    font-family: var(--font-body);
    color: var(--verde-claro);
    font-size: 26px;
    font-weight: 600;
    /* -webkit-text-stroke-width: 0.55px;
    -webkit-text-stroke-color: black; */
}

p {
    font-family: var(--font-body);
    color: var(--branco--fraco) ;
    font-size: 22px;
    font-weight: 400;
    /* -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black; */
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: justify;
}


#secao-apresentacao {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#secao-apresentacao img {
    border-radius: 50%;
}

.foto_perfil {
    height: 300px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px;
    margin-bottom: 10px;
}
  
.personagem {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 45px; 
}
  
.personagem img {
    width: 300px;
    height: 300px; 
    margin-right: 30px; 
}

.descricao_personagem {
    width: 50%;
}

a {
    margin-right: 20px;
}

#secao-temporadas {
    background-color: var(--marrom);
    height: 100vh;
}

.card {
    width: 45vw;
    height: 45vh;
    margin-left: -35px;
    position: relative;
    cursor: pointer;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.card-text {
    position: absolute;
    top: 50%;
    text-align: left;
    opacity: 0;
    transition: opacity .5s, top .5s;
}

.card:hover .card-text {
    opacity: 1;
    top: 20%;
}

.card:hover .image-wrapper {
    opacity: 10%;
    transition: opacity .5s;
}

#secao-temporadas ul {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
    justify-items: center;
}

.card-title {
    font-size: 60px;
    font-weight: bolder;
}

.container-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragrafo {
    margin-left: 20px;
    margin-right: 20px;
}

#secao-formulario {
    margin-top: 370px;
}

#secao-formulario form {
    /* height: 100vh; */
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    margin: 0 auto;

}

.campo {
    display: flex;
    flex-direction: column;
    height: 8vh;
}

.linha {
    grid-column: 1 / 3;
}

input[type=radio]
input[type=checkbox]
input[type=range]
{
    accent-color: var(--rosa);
}

.fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper-galeria {
    /* object-fit: cover; */
    /* max-width: 300px;
    max-height: 300px; */
    object-fit: cover;
    max-width: 50%;
    max-height: 50%;
    /* width: 100%; */
    height: auto;
    margin-bottom: 50px;
}